<div class="header">
    <span class="logo">my Blog</span>
</div>
<div class="new-content">
    <h2>Crear nuevo post</h2>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Título</label>
            <input type="text" class="form-control" formControlName="titulo">
        </div>
        <div class="form-group">
            <label>Usuario</label>
            <input type="text" class="form-control" formControlName="usuario">
        </div>
        <div class="form-group">
            <label>Fecha</label>
            <input type="text" class="form-control" formControlName="fecha">
        </div>
        <div class="form-group">
            <label>Categoría</label>
            <select class="form-control" formControlName="categoria">
                <option value="categoria_1">Categoría 1</option>
                <option value="categoria_2">Categoría 2</option>
                <option value="categoria_3">Categoría 3</option>
                <option value="categoria_4">Categoría 4</option>
                <option value="categoria_5">Categoría 5</option>
            </select>
        </div>
        <div class="form-group">
            <label>Mensaje</label>
            <textarea class="form-control" formControlName="mensaje" cols="30" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-block btn-info">Enviar</button>
    </form>
</div>